<!DOCTYPE html>
<html>
  <head>
    <title>Loginapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8"/>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to("新規登録", "/new") %></li>
        <% if session[:name] %>
          <li><%= link_to("ユーザー一覧", "/users/show") %></li>
          <li><%= link_to("新規作成", "/posts/new") %></li>
          <li><%= link_to("投稿一覧", "/posts/show") %></li>
          <li><%= session[:name] %></li>
          <li><%= button_to("ログアウト", "/logout", {method: "post"}) %></li>
        <% else %>
          <li><%= link_to("ログイン", "/login_form" ) %></li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
